{% extends 'employee.html' %}

{% load crispy_forms_tags %}

{% block content %}
<center>
    <h1>Create Appointment Procedure</h1>
</center>



<div class="container">
    <form action="{{ /createnewprocedure }}" method="post">
        <input type="hidden" name="employee_id" value="{{ employee.employee_id }}">
        <input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
        <input type="hidden" name="appointment_type" value="{{ appointment_date }}">
        <input type="hidden" name="appointment_date" value="{{ appointment_date }}">
        <input type="hidden" name="appointment_time" value="{{ appointment_time }}">
        <input type="hidden" name="appointment_duration" value="{{ appointment_duration }}">
        <input type="hidden" name="appointment_status" value="{{ appointment_status }}">
        <input type="hidden" name="room_Assigned" value="{{ room_assigned }}">
</div>
        

{%endblock%}