<!--Extends Base Template-->
{% extends 'main/base.html' %}


{% block content %}

<center>

    <h1>Employee UI</h1>
    <!-- TODO: add a button that leads to dentist page -->
    <form action="{{ /createnewprocedure }}" method="post">
        <input type="hidden" name="employee_id" value="{{ employee.employee_id }}">
        <input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
        <input type="hidden" name="appointment_type" value="{{ appointment.appointment_date }}">
        <input type="hidden" name="appointment_date" value="{{ appointment.appointment_date }}">
        <input type="hidden" name="appointment_time" value="{{ appointment_time }}">
        <input type="hidden" name="appointment_duration" value="{{ appointment_duration }}">
        <input type="hidden" name="appointment_status" value="{{ appointment_status }}">
        <input type="hidden" name="Room_Assigned" value="{{ appointment.room_assigned }}">
    <button><a href="/viewInfo">View Patient Information</a></button>   
    <button><a href="{{ /dentist}}"> <button>Dentist UI</button></a></button>
    <button><a href="/viewAppointments">View Appointments</a></button>
    <button><a href="/viewMedicalRecords">View Medical History</a></button>
    <button><a href="/createnewprocedure">Create Appointment Procedure</a></button>


</center>



{% endblock %}