<!--Extends Base Template-->
{% extends 'main/base.html' %}


{% block content %}

<div class="container">

    <center>

        {% if searched %}
        <h1>You Searched for {{searched}}</h1>
        <br>
        {% for user in searched_user%}
        <a href="{% url 'show_user' user.id%}">{{user}}</a>
            <button><a href="{% url 'show_patient_records' user.id%}"> View patient records </a></button>
            <br>
            <br>

            <button><a href="/employee">Return</a></button>
            
            <br>
            <br>
        {% endfor %}
        {%else%}
        <h1>Empty Field</h1>
        <br>
        <button><a href="/employee">Return</a></button>

        {% endif %}
    </center>


</div>
    

{% endblock %}