<!--Extends Base Template-->
{% extends 'main/base.html' %}


{% block content %}

<center>
    <h1>Patient UI</h1>
	
<button><a href="/viewInfo">View Information</a></button>	
<button><a href="/viewAppointments">View Appointments</a></button>
<button><a href="/viewInvoice">View Invoice</a></button>
<button><a href="/viewMedicalRecords">View Medical Records </a></button>
<button><a href="/bookappointments">Book An Appointment</a></button>
<button><a href="/leaveAReview">Leave A Review</a></button>

</center>



{% endblock %}