<!--Extends Base Template-->
{% extends 'main/base.html' %}


{% block content %}

<center>

    <h1> {{ str(patient_record) }}</h1> <!--UNSURE-->
    <br>
</center>
<div class="container-fluid">

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Medication</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Tooth</th>
            <th scope="col">Comments</th>
            <th scope="col">Treatment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ patient_record.medication }}</td>
            <td>{{ patient_record.symptoms }}</td>
            <td>{{ patient_record.tooth }}</td>
            <td>{{ patient_record.comments }}</td>
            <td>{{ patient_record.treatment }}</td>
          </tr>
        </tbody>
      </table>

</div>

<center>

    <button><a href="/dentist">Return</a></button>


</center>
    

{% endblock %}